<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Murat & Yazılım Geliştirme</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="category">Ana Sayfa</a>
        <a class="nav-item nav-link" routerLink="posts">Ben Kimim</a>
        <a class="nav-item nav-link" routerLink="category">İletişim</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://twitter.com/murat__ilk" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link" href="https://bitbucket.org/ilkmurat/ilkmurat/src/master/" target="_blank">
          <i class="fa fa-medium"></i>
        </a>
      </div>
    </div>
  </nav>
  